services:
  jupyter-lab:
    build: .
    ports:
      - "8888:8888"
      - "8080:8080"
      - "6006:6006"
      - "6007:6007"
      - "6008:6008"
      - "6009:6009"
    volumes:
      - ./AFL:/AFL
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]